:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}



* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
    

  
  font-size: 62.5%;
  scroll-behaviour: smooth;
}





@media (max-width: 75em) {
  html {
    font-size:60%;
  }
}


@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: white;
  background: #03396c;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2{
  font-size:4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display:block;
  width: 100%;
}

.nav {
  display:flex;
  justify-content:flex-end;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background: #59bfff;
  z-index: 10;
 
}

.nav-list {
  display: flex;
  margin: 28px; 
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }
  
  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 1.9rem;
  margin-right: 22px;
  color: white;
  padding: 2px;
  text-transform: uppercase;
  font-family: 'Open Sans';
}

.welcome-section {
  text-align: center;
  justify-content:center;
  color: white;
  width:100%;
  height: 100vh;
  flex-direction: column;
  padding:100px;
}

.welcome-section h1{
  font-family: sans;
  color: white;
  margin-top: 80px;
}

.welcome-section p{
  font-family: sans;
  font-style: italic;
  font-size: 3rem;
  color: #26abff;
}

.work-section {
  text-align:center;
  background-color: ;
  padding: 10rem 2rem;
}

.work-section h2 {
  max-width:640px;
  margin: auto;
  border-bottom: 0.2rem solid var(--main-white);
  margin-bottom: 3rem;
}

@media (max-width: 28.75rem){
  .work-section h2{
    font-size: 4rem;
  }
}



.project-grid {
  display:grid;
  grid-template-columns: repeat(autofit, minmax(320px, 1fr));
  grid-gap: 7rem;
  max-width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
  
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px (0, 0, 0, 0.5);
  border-radius: 3px;
}

.code {
  color: #1c4966; 
}

.project:hover .code {
  color: #26abff;
  transition: color 0.3s ease-out;
}

.project-image {
  height: calc(100%-2.8rem);
  width: 100%;
  object-fit: cover;    
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: white;
  background: #1c4966;
}


.btn {
  inline-display:block;
  padding: 01.4rem 1.5rem;
  border-radius: 2px;
}

.btn-show-all {
  background: #296d98;
  font-size: 2rem;
  color: white;
}

.btn-show-all:hover {
  background: #45b6fe;
  transition: background 0.4s ease-out;    
}

.btn-show-all > i {
  margin-left: 10px;
  font-size: 1.6rem;
  
}

.btn-show-all:hover > i {
  transform: translateX(4px);
  transition: transform 0.4s ease-out;
}



.contact-section {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-text: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: (var(--main-gray));
  align-items: center;  
}

.contact-header > h2 {
  font-size: 6rem;
  font-family: 'Open Sans';
}

@media (max-width: 28.75em) {
  .contact-header > h2 {
    font-size: 4rem;
  }
}

.contact-header > p {
  font-style: italic;
  font-family: 'Open Sans';
  font-size: 2.3rem;
  text-align: center;
  color: #26abff;
}

.contact-links {
  display:flex;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  color:white;
  text-shadow: 2px 2px 1px #1f1f1f;

}

.contact-details:hover {
  transform: translateY(8px);
  transition: transform 0.6s ease-out;
}
